.footer__copyright{
    margin: 0;
    text-rendering: optimizeLegibility;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
}
@media (max-width: 510px){
    .footer__copyright{
        line-height: 1;
        display: block;
        margin-top: 48px;
    }
}